* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding: 0;
  }

  /*Header*/
  
    header {
        position: fixed;
        top: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(5px);
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: #2e7d32;
        font-family: "Arvo", serif;
    }

    nav a {
        color: #2e7d32;
        text-decoration: none;
        margin-left: 1.5rem;
        font-size: 1rem;
        transition: color 0.3s;
    }

    nav a:hover {
        color: #4caf50;
    }

  
  /* Banner */
  #banner {
    background-color: #2e7d32;
    color: white;
    padding: 6rem 1rem;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 0px;
    background-image: url(../img/foto_drones_floresta.png);
    background-position: top;
    background-size: cover;
  }
  
  #banner h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  #banner p {
    font-size: 1.2rem;
  }

/* Seções principais */
  main {
    padding: 2rem 1rem;
    max-width: 1000px;
    margin: auto;
    margin-top: 0px;
  }
  
  section {
    margin-bottom: 3rem;
  }
  
  h2 {
    color: #2e7d32;
  }

  #beneficios > ul{
    margin-left: 2.5vh;
  }

  iframe{
    width: 100%;
    margin-top: 2vh;
  }

  #bigData_noticia{
    border-radius: 12px;
    width: 1000px;
    height: 420px;
    transition: transform 0.3s ease;
    overflow: hidden;
  }

  #bigData_noticia:hover{
    transform: scale(1.05);
  }
  #bannercamera {
    background-color: #2e7d32;
    color: white;
    padding: 6rem 1rem;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 0px;
    background-image: url(../img/armadilha-fotografica-digial-c\ \(1\).png);
    background-position: center; /* Centraliza a imagem */
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#bannercamera h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

#bannercamera p {
    font-size: 1.2rem;
}
#bannerirrigacao {
  background-color: #2e7d32;
  color: white;
  padding: 6rem 1rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url(../img/sistema\ de\ irrigação.png);
  background-position: center;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#bannerirrigacao {
  background-color: #2e7d32;
  color: white;
  padding: 6rem 1rem;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 0;
  background-image: url(../img/sistema\ de\ irrigação.png);
  background-position: center;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#bannerirrigacao h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

#bannerirrigacao p {
  font-size: 1.2rem;
}


#videoirrigacao {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: #f4f4f4;
}

/* Footer */
footer {
  background-color: #2e7d32;
  color: white;
  padding: 2rem;
  text-align: center;
}

footer a {
  color: #a5d6a7;
  text-decoration: none;
  margin: 0 1rem;
}

footer a:hover {
  color: white;
}
